<form class="float-end" method="post" action="{{ path('app_contact_delete', {'id': contact.id}) }}"
      onsubmit="return confirm('Are you sure to delete?')">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-sm btn-danger">Delete</button>
</form>